
<div class="brand">
    <img src="../../assets/img/logo.svg" class="logo" alt="timer">
    <h1>Sport Market</h1>
</div>

<div class="titleAD">
    <h1>Administrateur</h1>
    <h2>Product Management</h2>

</div>

<ul class="navbar navbar-nav ml-auto">
    <li>
        <form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="form-inline">
            <input ngModel name="keyword" type="text" placeholder="Research by keywords">
            <button class="btn btn-sm btn-outline-info  m-2">
                <span class="fa fa-search"> </span>
            </button>
        </form>
    </li>
</ul>


<nav class="navbar navbar-expand-sm ">
    <ul class="navbar navbar-nav">
        <li>
            <button (click)="onGetAllProducts()" class="btn-dark btn-outline-info m-2">All<br>Products</button>
        
            <button (click)="onGetSelectedProducts()" class="btn-dark btn-outline-info m-1">Selected<br>Products</button>
        
            <button (click)="onGetAvailableProducts()" class="btn-dark btn-outline-info m-1">Available<br>Products</button>
        
            <button (click)="onNewProduct()" class="btn-dark btn-outline-info m-2">New<br>Product</button>
        </li>
    </ul>
    
</nav>

<div class="container">
    <ng-container *ngIf="products$ | async as result" [ngSwitch]="result.dataState">
        <ng-container *ngSwitchCase="DataStateEnum.LOADING">Loading...</ng-container>
        <ng-container *ngSwitchCase="DataStateEnum.ERROR">
            <div class="alert alert-danger">{{result.errorMessage}}</div>
        </ng-container>
        <ng-container *ngSwitchCase="DataStateEnum.LOADED">
            <table class="table">
                <tr>
                    <th>id</th>
                    <th></th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Avai<br>lable</th>
                    <th></th>
                    <th></th>
                    <th>Selected</th>

                </tr>
                <tr *ngFor="let p of result.data">
                    <td>{{p.id}}</td>
                    <td><img src="../../../../assets/img/{{p.image}}" alt="photo"width="60px" height="45px"></td> 
                    <!-- <td><img src="../../../../assets/img/{{p.id}}.jpg" alt="photo"width="37px" height="29px"></td>  -->
                    <!-- 18X13 -->
                    <td>{{p.name}}</td>
                    <td>{{p.price}}$</td>
                    <td>{{p.quantity}}</td>
                    <td>{{p.available}}</td>
                    <td>
                        <button class="btn btn-dark" (click)="productEdit(p.id)">
                            <!-- <span class="fas fa-arrow-alt-circle-up"></span> -->
                            <span class="fas fa-save"></span>
                            <!-- <i class="fas fa-save"></i> -->
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-primary" (click)="productDelete(p)">
                            <span class="fa fa-trash-o"></span>
                        </button>
                    </td>
                    <td>
                        <button (click)="onSelect(p)" [ngClass]="p.selected?'btn-success':'btn-danger'"
                            class="btn-modif btn-xm  ">
                            <!-- <button (click)="onSelect(p)"   [ngClass]="p.selected?'btn-success':'btn-danger'" > -->
                            <span *ngIf="p.selected">un<br>selected</span>
                            <span *ngIf="!p.selected">selected</span>
                        </button>
                    </td>
                </tr>
            </table>
        </ng-container>
    </ng-container>
</div>



