<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-3 fw-bolder">Market Sport in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">Exclusive new Styles American Sportswear</p>
        </div>
    </div>
</header>

<div *ngIf="products">
    <div *ngFor="let product of products; let i = index;" class="card d-inline-block card-responsiveness" attr.id="{{product.id}}">
        <img class="card-img-top" src="{{ url + product.image }}" alt="Card image cap">
        <div class="card-body">
            <div class="card-title">
                <h5 class="d-inline">{{product.name}}</h5>
                <span class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</span>
            </div>
            <p class="card-text">
                The Pegasus 38 is built on a fresh last to provide more room in the toe
                box; runners might notice it feels similar to models prior to the Pegasus 36.
                • A new individual midfoot webbing system allows every runner to lace up to a
                personalized fit.
            </p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="text-primary">Description: </span>{{product.description}}</li>
                <li class="list-group-item"><span class="text-primary">Quantité: </span>{{product.quantity}}</li>
                <li class="list-group-item"><span class="text-primary">Référence: </span>{{product.reference}}</li>
            </ul>
            <h5 class="text-center my-3">Prix: <span class="text-info">{{product.price}}€</span></h5>
            <h5 class="fw-bolder">Popular Item</h5>
            <div class="rating">
                <div class="stars">
                    <i class="fa fa-star gold"></i>
                    <i class="fa fa-star gold"></i>
                    <i class="fa fa-star gold"></i>
                    <i class="fa fa-star gold"></i>
                    <i class="fa fa-star gold"></i>
                </div>
            </div>
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent mt-3 text-center">
                <button class="btn btn-outline-dark mt-auto" (click)="addProductToCart(product.id)">Add to cart</button>
            </div>
        </div>
    </div>
</div>
