<div class="brand">
    <img src="../../assets/img/logo.svg" class="logo" alt="timer">
    <h1>Sport Market</h1>
</div>

<div class="titleAD">
    <h1>Administrateur</h1>
    <h2>Administrative Roles</h2>

</div>



<nav class="navbar navbar-expand-sm ">
    <ul class="navbar navbar-nav ">
        <li>
            <button (click)="onModifArticle()" class="btn-dark btn-outline-info m-3">Products Managing</button><br>
        </li>
        <li>
            <button (click)="onSuppComment()" class="btn-dark btn-outline-info m-3">Comments Managing</button><br>
        </li>
        <li>
            <button (click)="onModifUser()" class="btn-dark btn-outline-info m-3 ">Users Managing</button><br>
        </li>
    
    </ul>
</nav>
















<!-- 
<div class="inscription-link text-center"> 
    <span >Vous n'êtes pas inscrit ?</span>
    <div>
        <button (click)=""  class="btn btn-primary btn-sm  m-2">
            <span >S'inscrire</span>
        </button>
    </div>
</div> --> 