<div class="brand">
    <img src="../../assets/img/logo.svg" class="logo" alt="timer">
    <h1>Sport Market</h1>
</div>

<div class="titleAD">
    <h1>Administrateur</h1>
    <h2>Comments Management</h2>
</div>


<!-- <div id="carouselShoesControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner ml-auto mr-auto">
        <div class="carousel-item active">
            <img src="../../assets/img/1.jpg" class="d-block w-100" alt="flying shoe">
        </div>
        <div class="carousel-item">
            <img src="../../assets/img/2.jpg" class="d-block w-100" alt="flying shoe">
        </div>
        <div class="carousel-item">
            <img src="../../assets/img/3.jpg" class="d-block w-100" alt="flying shoe">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselShoesControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselShoesControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> -->







<div class="container">
    <ng-container *ngIf="products$ | async as result" [ngSwitch]="result.dataState">
        <ng-container *ngSwitchCase="DataStateEnum.LOADING">Loading...</ng-container>
        <ng-container *ngSwitchCase="DataStateEnum.ERROR">
            <div class="alert alert-danger">{{result.errorMessage}}</div>
        </ng-container>
        <ng-container *ngSwitchCase="DataStateEnum.LOADED">


            <!-- <div *ngFor="let p of result.data"> -->
                <div id="carouselComments" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner ml-auto mr-auto">
                        <div class="carousel-item active" >
                            <img src="../../assets/img/7.jpg" class="d-block w-100" alt="flying shoe">
                        </div>
                        <ng-container *ngFor="let p of result.data">
                            <div class="carousel-item"  data-interval="4000">
                                <img src="../../assets/img/{{p.image}}" class="d-block w-100" alt="flying shoe">
                                <div class="carousel-caption d-none d-md-block">
                                    <h4>{{p.name}}</h4>
                                    <h2>{{p.description}} </h2>
                                    <h2 *ngIf="availibility(p)"> still available for {{p.price}} $  ( -10% !!! ) </h2>
                                    <h2 *ngIf="!availibility(p)"> only {{p.quantity}} more are available for {{p.price}} $ ...  Do hurry up !!! </h2>
                                </div>
                            </div>
                        </ng-container>


                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselComments"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselComments"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            <!-- </div> -->


        </ng-container>
    </ng-container>
</div>


<div>
    <button class="btn btn-primary  m-4 " (click)="ngOnInit()" [disabled]="false" > 
        Reload Page
    </button>
</div>