<div class="brand">
    <img src="../../assets/img/logo.svg" class="logo" alt="timer">
    <h1>Sport Market</h1>
</div>

        <form *ngIf="!isSuccessfull" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form-group mx-5 mb-3">
                <input type="text" class="form-control" name="firstname" [(ngModel)]="form.firstname" required
                    minlength="3" maxlength="20" #firstname="ngModel" placeholder="Firstname" />
                <div class="alert-danger" *ngIf="firstname.errors && f.submitted">
                    <div *ngIf="firstname.errors.required">Your firstname is required</div>
                    <div *ngIf="firstname.errors.minlength">
                        Your firstname must be at least 3 characters
                    </div>
                    <div *ngIf="firstname.errors.maxlength">
                        Your firstname must be at most 20 characters
                    </div>
                </div>
            </div>
            <div class="form-group mx-5 mb-3">
                <input type="text" class="form-control" name="lastname" [(ngModel)]="form.lastname" required
                    minlength="3" maxlength="20" #lastname="ngModel" placeholder="Lastname" />
                <div class="alert-danger" *ngIf="lastname.errors && f.submitted">
                    <div *ngIf="lastname.errors.required">Your lastname is required</div>
                    <div *ngIf="lastname.errors.minlength">
                        Your lastname must be at least 3 characters
                    </div>
                    <div *ngIf="lastname.errors.maxlength">
                        Your lastname must be at most 20 characters
                    </div>
                </div>
            </div>
            <div class="form-group mx-5 mb-3">
                <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email
                    #email="ngModel" placeholder="Email" />
                <div class="alert-danger" *ngIf="email.errors && f.submitted">
                    <div *ngIf="email.errors.required">Email is required</div>
                    <div *ngIf="email.errors.email">
                        Email must be a valid email address
                    </div>
                </div>
            </div>
            <div class="form-group mx-5">
                
                <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required
                    minlength="6" #password="ngModel" placeholder="Password" />
                <div class="alert-danger" *ngIf="password.errors && f.submitted">
                    <div *ngIf="password.errors.required">Password is required</div>
                    <div *ngIf="password.errors.minlength">
                        Password must be at least 6 characters
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group mx-5">
                <button class="btn btn-primary btn-block">Sign Up</button>
            </div>
            <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                Signup failed!<br />{{ errorMessage }}
            </div>
        </form>
        <div class="alert alert-success" *ngIf="isSuccessfull">
            Your registration is successful!
        </div>
